---
import Social from "./Social.astro";


---

<footer>
  <p><Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" /></p>
  <small>Copyright &copy; <span id="copyright"></span> All rights reserved</small>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>


<script>
  document.querySelector("#copyright").textContent = 
  new Date()
    .getFullYear()
    .toString();
</script>
